body {
  background-image: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

@media (max-width: 768px) {
  body {
    background-image: url(background-mobile.jpg);
    background-size: auto;
  }
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff52;
  padding: 10px;
  border-radius: 10px;
}

.timer__items {
  display: flex;
}
.timer__item {
  position: relative;
  min-width: 60px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 48px;
}
.timer__item::before {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 14px;
}
.timer__item:not(:last-child)::after {
  content: ":";
  position: absolute;
  right: -15px;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

h1 {
  font-size: 64px;
  margin: 0;
}
